<div class="container w-50 py-3 border-bottom">
  <h1>New List</h1>
  <%= simple_form_for @list do |f| %>
    <%= f.input :name, placeholder: 'Classic Movies' %>
    <%= f.input :photo, as: :file %>
    <%= f.submit class: 'btn btn-outline-primary'%>
  <% end %>
</div>
<div class="container w-50 py-2">
  <%= link_to "ðŸ‘ˆðŸ½ Go back Home", root_path, class: 'text-decoration-none'  %>
</div>
