<h1><%= @list.name %></h1>


<% @list.bookmarks.each do |bookmark| %>
  <%=  bookmark.comment %>
  <%= bookmark.movie.title %>
  <%= bookmark.movie.overview %>
  <%= image_tag bookmark.movie.poster_url, alt: "text" %>
  <%= bookmark.movie.rating %>
<% end %>

<%= link_to 'Delete', list_path(@list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
