<div class="banner background-image-faded text-white shadow"
     style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
            url('<%= cl_image_path(@list.photo.key, crop: :fill) %>');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;" >
 <h1><%= @list.name %></h1>
</div>

<%# movies section %>
<div class="container my-3 pb-5 border-bottom">
  <div class="row">
    <div class="col-lg-9 col-sm-12">
      <h1>Movies (<%= @list.bookmarks.length %>)</h1>
      <div class="bookmarks">
        <% @list.bookmarks.each do |bookmark| %>
          <div class="bookmark-card shadow rounded">
            <div class="image" style="background-image: url('<%= bookmark.movie.poster_url %>')">
            </div>
            <div class="bookmark-details p-3">
              <div class="bookmark-title-and-rating d-flex align-items-baseline px-3">
                <strong><%= bookmark.movie.title %></strong>
                <p class="my-2"><%= bookmark.movie.rating %>⭐️</p>
              </div>
              <p><%= bookmark.movie.overview %></p>
              <div class="comment-and-delete-button d-flex justify-content-between align-items-baseline">
                <p><%=  bookmark.comment %></p>
                <%= link_to 'Delete',
                    bookmark_path(bookmark),
                    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
                    class: 'text-danger text-decoration-none' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-lg-3">
      <h1>New Movie</h1>
      <%= simple_form_for [@list, @bookmark] do |f| %>
        <%= f.association :movie %>
        <%= f.input :comment, placeholder: 'It was a great movie' %>
        <%= f.submit class: 'btn btn-outline-primary'%>
      <% end %>
    </div>
  </div>
</div>

<%# reviews section %>
<div class="container my-4">
  <div class="row">
    <div class="reviews col-lg-9 col-sm-12">
      <h1 class="m-0">Reviews</h1>
      <% @list.reviews.each do |review| %>
        <div class="review py-2 border-bottom">
          <p class="m-0"><%= '⭐️' * review.rating%></p>
          <p class="m-0"> <%= review.comment %></p>
        </div>
      <% end %>
    </div>
    <div class="review form col-lg-3 col-sm-12">
      <h2>Add your review</h2>
      <%= simple_form_for [@list, @review] do |f| %>
        <%= f.input :comment, placeholder: 'Add your review here' %>
        <%= f.input :rating, collection: [1, 2, 3, 4, 5] %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
