<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="navbar-lewagon d-flex justify-content-between align-items-center border-bottom">

      <%= link_to lists_path do %>
      <div class="lists-link d-flex align-items-center">
        <i class="fa-solid fa-video fa-xl"></i>
        <h2 class="mx-2">All Movies</h2>
      </div>
      <% end %>
      <p class="">Search</p>
    </div>
    <%= yield %>
  </body>
</html>
